
main_app/python/python-mnist/
main_app/python/.idea/workspace.xml
main_app/mnist/files
main_app/python/.idea/misc.xml
main_app/python/.idea/modules.xml
main_app/python/.idea/python.iml
main_app/python/feature/feature_0_59.npy
main_app.sdf
main_app/main_app.vcxproj
main_app/main_app.vcxproj.filters
main_app/python/.idea/other.xml
main_app/python/.idea/vcs.xml
main_app/python/venv/*
main_app/main_app.vcxproj
main_app.VC.VC.opendb
.vs/main_app/v14/.suo
.*
main_app/python/kmeans_feature_7x7x2
main_app/python/kmeans_feature_7x7x3
main_app/python/kmeans_feature_7x7x4
main_app/python/kmeans_feature_7x7x5
main_app/python/kmeans_feature_7x7x7
main_app/python/split_feature
