.*
main_app/python/kmeans_feature_7x7x2
main_app/python/kmeans_feature_7x7x3
main_app/python/kmeans_feature_7x7x4
main_app/python/kmeans_feature_7x7x5
main_app/python/kmeans_feature_7x7x7
main_app/python/split_feature
main_app/python/python-mnist/
main_app/mnist/files
main_app.VC.VC.opendb
*.npy
*.pyc
main_app/main_app.vcxproj.filters
main_app/python/venv/*